<div style='background: #e1ff00'> <h1>Student Information</h1>

Name:Miss Pattamon Rattanapan

Student ID:108065436

GitHub ID: https://github.com/mon826

## Begin Assignment Here
### Lab Homework (Dataset)

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import plotly
import nltk
import os
import math
import string
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords 
import nltk
nltk.download('stopwords')
import helpers.data_mining_helpers as dmh
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

#  1. The data preparation

Firstly we use Pandas to import the file in to Python  
Then assign the colum name on the top of each column  
and print the head and tail of the data to see

### 1.1 Initial check the information

In [2]:
#Firstly, we import the file into Python
#Then assign the column name on the top of each files

#Import the file "Amazon"
col_Names=["Sentence", "Score"]
Amazon = pd.read_csv (r'C:\Users\User\Data Mining_NTHU\DMLab1x\Dataset_Original\Dataset for HW lab\amazon_cells_labelled.txt', 
                    sep='\t', header=None, names=col_Names)
print("Amazon Head")
print (Amazon.head())
print(" \n")
print(" Amazon Tail")
print (Amazon.tail())
print(" \n\n\n\n")



#Import the file "Yelp"
col_Names=["Sentence", "Score"]
Yelp = pd.read_csv (r'C:\Users\User\Data Mining_NTHU\DMLab1x\Dataset_Original\Dataset for HW lab\yelp_labelled.txt', 
                    sep='\t', header=None, names=col_Names)
print("Yelp Head")
print (Yelp.head())
print(" \n")
print(" Yelp Tail")
print (Yelp.tail())
print(" \n\n\n\n")



#Import the file "Imdb"
col_Names=["Sentence", "Score"]
Imdb = pd.read_csv (r'C:\Users\User\Data Mining_NTHU\DMLab1x\Dataset_Original\Dataset for HW lab\imdb_labelled.txt', 
                    sep='\t', header=None, names=col_Names)
print("Imdb Head")
print (Imdb.head())
print(" \n")
print(" Imdb Tail")
print (Imdb.tail())

Amazon Head
                                            Sentence  Score
0  So there is no way for me to plug it in here i...      0
1                        Good case, Excellent value.      1
2                             Great for the jawbone.      1
3  Tied to charger for conversations lasting more...      0
4                                  The mic is great.      1


 Amazon Tail
                                              Sentence  Score
995  The screen does get smudged easily because it ...      0
996  What a piece of junk.. I lose more calls on th...      0
997                       Item Does Not Match Picture.      0
998  The only thing that disappoint me is the infra...      0
999  You can not answer calls with the unit, never ...      0





Yelp Head
                                            Sentence  Score
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1


 Yelp Tail
                                              Sentence  Score
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0





Imdb Head
                                            Sentence  Score
0  A very, very, very slow-moving, aimless movie ...      0
1  Not sure who was more lost - the flat characte...      0
2  Attempting artiness with black & white and cle...      0
3       Very little music or anything to speak of.        0
4  The best scene in the movie was when Gerardo i...      1


 Imdb Tail
                                              Sentence  Score
743  I just got bored watching Jessice Lange take h...      0
744  Unfortunately, any virtue in this film's produ...      0
745                   In a word, it is embarrassing.        0
746                               Exceptionally bad!        0
747  All in all its an insult to one's intelligence...      0

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
#Then we try another method to check the data by using sample to check
#Syntax : df.info()
print (Amazon.sample())
print("\n")
print (Yelp.sample())
print("\n")
print (Imdb.sample())

                                              Sentence  Score
585  It feels poorly constructed, the menus are dif...      0


                     Sentence  Score
434  So absolutley fantastic.      1


                                Sentence  Score
740  Lange had become a great actress.        1

In [5]:
#Check the basic information
Amazon.info()
print("\n")
Yelp.info()
print("\n")
Imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
Sentence    1000 non-null object
Score       1000 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
Sentence    1000 non-null object
Score       1000 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 2 columns):
Sentence    748 non-null object
Score       748 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

## 1.1 Combine file for ease of management
We combine all 3 files together to make it easier to work on the data

In [6]:
#Adding new column to defind the source of each data
Amazon.insert(2, "Source", "amazon.com")
Amazon.head()

                                            Sentence  Score      Source
0  So there is no way for me to plug it in here i...      0  amazon.com
1                        Good case, Excellent value.      1  amazon.com
2                             Great for the jawbone.      1  amazon.com
3  Tied to charger for conversations lasting more...      0  amazon.com
4                                  The mic is great.      1  amazon.com

In [7]:
Yelp.insert(2, "Source", "yelp.com")
Yelp.head()

                                            Sentence  Score    Source
0                           Wow... Loved this place.      1  yelp.com
1                                 Crust is not good.      0  yelp.com
2          Not tasty and the texture was just nasty.      0  yelp.com
3  Stopped by during the late May bank holiday of...      1  yelp.com
4  The selection on the menu was great and so wer...      1  yelp.com

In [8]:
Imdb.insert(2, "Source", "imdb.com")
Imdb.head()

                                            Sentence  Score    Source
0  A very, very, very slow-moving, aimless movie ...      0  imdb.com
1  Not sure who was more lost - the flat characte...      0  imdb.com
2  Attempting artiness with black & white and cle...      0  imdb.com
3       Very little music or anything to speak of.        0  imdb.com
4  The best scene in the movie was when Gerardo i...      1  imdb.com

In [9]:
#Combine the 3 dataframe into 1 file and print the head to see

#Combine 3 files vertically
total1 = pd.concat([Amazon,Yelp,Imdb], axis=0, ignore_index=True)

#Combine 3 files horizontally
total2 = pd.concat([Amazon,Yelp,Imdb], axis=1, ignore_index=True)
total1.head()

                                            Sentence  Score      Source
0  So there is no way for me to plug it in here i...      0  amazon.com
1                        Good case, Excellent value.      1  amazon.com
2                             Great for the jawbone.      1  amazon.com
3  Tied to charger for conversations lasting more...      0  amazon.com
4                                  The mic is great.      1  amazon.com

In [10]:
#Then check the tail
total1.tail()

                                               Sentence  Score    Source
2743  I just got bored watching Jessice Lange take h...      0  imdb.com
2744  Unfortunately, any virtue in this film's produ...      0  imdb.com
2745                   In a word, it is embarrassing.        0  imdb.com
2746                               Exceptionally bad!        0  imdb.com
2747  All in all its an insult to one's intelligence...      0  imdb.com

In [11]:
#And then randomly check
total1.sample()

                                               Sentence  Score    Source
2491  It's so bad it's actually worth seeing just fo...      0  imdb.com

In [12]:
#We check the basic information of the data after combining
total1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 3 columns):
Sentence    2748 non-null object
Score       2748 non-null int64
Source      2748 non-null object
dtypes: int64(1), object(2)
memory usage: 64.5+ KB

In [27]:
len(total1)

2748

# 2. Data Preparation  
Second step, prepare the trained data  
Import the file and make it ready to use

In [13]:
# categories
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']

In [14]:
# obtain the documents containing the categories provided
# Importing the trained dataset from sklearn

from sklearn.datasets import fetch_20newsgroups

twenty_train = fetch_20newsgroups(subset='train', categories=categories, \
                                  shuffle=True, random_state=42)

In [15]:
twenty_train.data[0:2]

['From: sd345@city.ac.uk (Michael Collier)\nSubject: Converting images to HP LaserJet III?\nNntp-Posting-Host: hampton\nOrganization: The City University\nLines: 14\n\nDoes anyone know of a good way (standard PC application/PD utility) to\nconvert tif/img/tga files into LaserJet III format.  We would also like to\ndo the same, converting to HPGL (HP plotter) files.\n\nPlease email any response.\n\nIs this the correct group?\n\nThanks in advance.  Michael.\n-- \nMichael Collier (Programmer)                 The Computer Unit,\nEmail: M.P.Collier@uk.ac.city                The City University,\nTel: 071 477-8000 x3769                      London,\nFax: 071 477-8565                            EC1V 0HB.\n',
 "From: ani@ms.uky.edu (Aniruddha B. Deglurkar)\nSubject: help: Splitting a trimming region along a mesh \nOrganization: University Of Kentucky, Dept. of Math Sciences\nLines: 28\n\n\n\n\tHi,\n\n\tI have a problem, I hope some of the 'gurus' can help me solve.\n\n\tBackground of the problem:\n\tI have a rectangular mesh in the uv domain, i.e  the mesh is a \n\tmapping of a 3d Bezier patch into 2d. The area in this domain\n\twhich is inside a trimming loop had to be rendered. The trimming\n\tloop is a set of 2d Bezier curve segments.\n\tFor the sake of notation: the mesh is made up of cells.\n\n\tMy problem is this :\n\tThe trimming area has to be split up into individual smaller\n\tcells bounded by the trimming curve segments. If a cell\n\tis wholly inside the area...then it is output as a whole ,\n\telse it is trivially rejected. \n\n\tDoes any body know how thiss can be done, or is there any algo. \n\tsomewhere for doing this.\n\n\tAny help would be appreciated.\n\n\tThanks, \n\tAni.\n-- \nTo get irritated is human, to stay cool, divine.\n"]

In [16]:
twenty_train.target_names
len(twenty_train.data)

2257

In [17]:
len(twenty_train.filenames)

2257

In [18]:
# An example of what the subset contains
print("\n".join(twenty_train.data[0].split("\n")))

From: sd345@city.ac.uk (Michael Collier)
Subject: Converting images to HP LaserJet III?
Nntp-Posting-Host: hampton
Organization: The City University
Lines: 14

Does anyone know of a good way (standard PC application/PD utility) to
convert tif/img/tga files into LaserJet III format.  We would also like to
do the same, converting to HPGL (HP plotter) files.

Please email any response.

Is this the correct group?

Thanks in advance.  Michael.
--
Michael Collier (Programmer)                 The Computer Unit,
Email: M.P.Collier@uk.ac.city                The City University,
Tel: 071 477-8000 x3769                      London,
Fax: 071 477-8565                            EC1V 0HB.

In [19]:
print(twenty_train.target_names[twenty_train.target[0]])

comp.graphics

In [20]:
twenty_train.target[0]

1

In [21]:
# category of first 10 documents.
twenty_train.target[:10]

array([1, 1, 3, 3, 3, 3, 3, 2, 2, 2], dtype=int64)

In [22]:
for t in twenty_train.target[:10]:
    print(twenty_train.target_names[t])

comp.graphics
comp.graphics
soc.religion.christian
soc.religion.christian
soc.religion.christian
soc.religion.christian
soc.religion.christian
sci.med
sci.med
sci.med

# 3. Data Transformation
We try to explore and understand more about the data

## 3.1 Converting Dictionary into Pandas Dataframe

In [28]:
#import helpers.data_mining_helpers as dmh
twenty_train.data[0:2]
twenty_train.target

# Define the function functions and construct dataframe from a list
total3 = pd.DataFrame.from_records(dmh.format_rows(twenty_train), columns= ['text'])

len(total3)

2257

In [24]:
total3[0:2]

                                                text
0  From: sd345@city.ac.uk (Michael Collier) Subje...
1  From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...

In [25]:
for t in total3["text"][:3]:
    print(t)

From: sd345@city.ac.uk (Michael Collier) Subject: Converting images to HP LaserJet III? Nntp-Posting-Host: hampton Organization: The City University Lines: 14  Does anyone know of a good way (standard PC application/PD utility) to convert tif/img/tga files into LaserJet III format.  We would also like to do the same, converting to HPGL (HP plotter) files.  Please email any response.  Is this the correct group?  Thanks in advance.  Michael. --  Michael Collier (Programmer)                 The Computer Unit, Email: M.P.Collier@uk.ac.city                The City University, Tel: 071 477-8000 x3769                      London, Fax: 071 477-8565                            EC1V 0HB.
From: ani@ms.uky.edu (Aniruddha B. Deglurkar) Subject: help: Splitting a trimming region along a mesh  Organization: University Of Kentucky, Dept. of Math Sciences Lines: 28    	Hi,  	I have a problem, I hope some of the 'gurus' can help me solve.  	Background of the problem: 	I have a rectangular mesh in the uv domain, i.e  the mesh is a  	mapping of a 3d Bezier patch into 2d. The area in this domain 	which is inside a trimming loop had to be rendered. The trimming 	loop is a set of 2d Bezier curve segments. 	For the sake of notation: the mesh is made up of cells.  	My problem is this : 	The trimming area has to be split up into individual smaller 	cells bounded by the trimming curve segments. If a cell 	is wholly inside the area...then it is output as a whole , 	else it is trivially rejected.   	Does any body know how thiss can be done, or is there any algo.  	somewhere for doing this.  	Any help would be appreciated.  	Thanks,  	Ani. --  To get irritated is human, to stay cool, divine.
From: djohnson@cs.ucsd.edu (Darin Johnson) Subject: Re: harrassed at work, could use some prayers Organization: =CSE Dept., U.C. San Diego Lines: 63  (Well, I'll email also, but this may apply to other people, so I'll post also.)  >I've been working at this company for eight years in various >engineering jobs.  I'm female.  Yesterday I counted and realized that >on seven different occasions I've been sexually harrassed at this >company.  >I dreaded coming back to work today.  What if my boss comes in to ask >me some kind of question...  Your boss should be the person bring these problems to.  If he/she does not seem to take any action, keep going up higher and higher. Sexual harrassment does not need to be tolerated, and it can be an enormous emotional support to discuss this with someone and know that they are trying to do something about it.  If you feel you can not discuss this with your boss, perhaps your company has a personnel department that can work for you while preserving your privacy.  Most companies will want to deal with this problem because constant anxiety does seriously affect how effectively employees do their jobs.  It is unclear from your letter if you have done this or not.  It is not inconceivable that management remains ignorant of employee problems/strife even after eight years (it's a miracle if they do notice).  Perhaps your manager did not bring to the attention of higher ups?  If the company indeed does seem to want to ignore the entire problem, there may be a state agency willing to fight with you.  (check with a lawyer, a women's resource center, etc to find out)  You may also want to discuss this with your paster, priest, husband, etc.  That is, someone you know will not be judgemental and that is supportive, comforting, etc.  This will bring a lot of healing.  >So I returned at 11:25, only to find that ever single >person had already left for lunch.  They left at 11:15 or so.  No one >could be bothered to call me at the other building, even though my >number was posted.  This happens to a lot of people.  Honest.  I believe it may seem to be due to gross insensitivity because of the feelings you are going through.  People in offices tend to be more insensitive while working than they normally are (maybe it's the hustle or stress or...) I've had this happen to me a lot, often because they didn't realize my car was broken, etc.  Then they will come back and wonder why I didn't want to go (this would tend to make me stop being angry at being ignored and make me laugh).  Once, we went off without our boss, who was paying for the lunch :-)  >For this >reason I hope good Mr. Moderator allows me this latest indulgence.  Well, if you can't turn to the computer for support, what would we do?  (signs of the computer age :-)  In closing, please don't let the hateful actions of a single person harm you.  They are doing it because they are still the playground bully and enjoy seeing the hurt they cause.  And you should not accept the opinions of an imbecile that you are worthless - much wiser people hold you in great esteem. --  Darin Johnson djohnson@ucsd.edu   - Luxury!  In MY day, we had to make do with 5 bytes of swap...

In [29]:
#Then we add the column to store its category
#We firstly add the category into the dataframe
total3['category'] = twenty_train.target

#Then add category label accordingly
total3['category_name'] = total3.category.apply(lambda t: dmh.format_labels(t, twenty_train))

In [30]:
#and print the result to see the result
total3[0:10]

,text,category,category_name
0,From: sd345@city.ac.uk (Michael Collier) Subje...,1,comp.graphics
1,From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...,1,comp.graphics
2,From: djohnson@cs.ucsd.edu (Darin Johnson) Sub...,3,soc.religion.christian
3,From: s0612596@let.rug.nl (M.M. Zwart) Subject...,3,soc.religion.christian
4,From: stanly@grok11.columbiasc.ncr.com (stanly...,3,soc.religion.christian
5,From: vbv@lor.eeap.cwru.edu (Virgilio (Dean) B...,3,soc.religion.christian
6,From: jodfishe@silver.ucs.indiana.edu (joseph ...,3,soc.religion.christian
7,From: aldridge@netcom.com (Jacquelin Aldridge)...,2,sci.med
8,From: geb@cs.pitt.edu (Gordon Banks) Subject: ...,2,sci.med
9,From: libman@hsc.usc.edu (Marlena Libman) Subj...,2,sci.med

## 3.2 Playing around the data
In order to be more familiar with the data  
I try to print the data in various method by following the lab materials

# a simple query try to print from row 0 up to row 10
#total1[0:10][["text", "category_name"]]
total1[0:10]

# a simple query try to print from bottom up to row 10
total3[-10:]

#using loc fucntion to cal the data by its position
#Explanation of the syntax>> every 10 rows, call 2 column >> with 10 rows of final output
total3.iloc[::10, 0:2][0:10]

#Using loc to call the data by its label
#Calling the data from 10 rows of 'Text', selecting from every 10 rows of information
total3.loc[::10, 'text'][0:10]

#Standard query (Cannot simultaneously select rows and columns)
#Call the data every 10 rows, print 10 rows from its selection
total3[::10][0:10]

# 4. Data mining Using Pandas

## 4.2 Data missing value checking

In [33]:
#Checking the missing value by using the syntax: df.isnull()
#The returning value of 'False' >> means no missing value
total1.isnull()

      Sentence  Score  Source
0        False  False   False
1        False  False   False
2        False  False   False
3        False  False   False
4        False  False   False
5        False  False   False
6        False  False   False
7        False  False   False
8        False  False   False
9        False  False   False
10       False  False   False
11       False  False   False
12       False  False   False
13       False  False   False
14       False  False   False
15       False  False   False
16       False  False   False
17       False  False   False
18       False  False   False
19       False  False   False
20       False  False   False
21       False  False   False
22       False  False   False
23       False  False   False
24       False  False   False
25       False  False   False
26       False  False   False
27       False  False   False
28       False  False   False
29       False  False   False
...        ...    ...     ...
2718     False  False   False
2719     False  False   False
2720     False  False   False
2721     False  False   False
2722     False  False   False
2723     False  False   False
2724     False  False   False
2725     False  False   False
2726     False  False   False
2727     False  False   False
2728     False  False   False
2729     False  False   False
2730     False  False   False
2731     False  False   False
2732     False  False   False
2733     False  False   False
2734     False  False   False
2735     False  False   False
2736     False  False   False
2737     False  False   False
2738     False  False   False
2739     False  False   False
2740     False  False   False
2741     False  False   False
2742     False  False   False
2743     False  False   False
2744     False  False   False
2745     False  False   False
2746     False  False   False
2747     False  False   False

[2748 rows x 3 columns]

# <span style = color:red><font size:300%>   missing value </span>

In [34]:
#Checking data missing at first >> there is no missing data
total1.isnull().apply(lambda x: dmh.check_missing_values(total1))

Sentence    (The amoung of missing records is: , 0)
Score       (The amoung of missing records is: , 0)
Source      (The amoung of missing records is: , 0)
dtype: object

In [36]:
total1.isnull().apply(lambda x: dmh.check_missing_values(total1), axis=1)

0       (The amoung of missing records is: , 0)
1       (The amoung of missing records is: , 0)
2       (The amoung of missing records is: , 0)
3       (The amoung of missing records is: , 0)
4       (The amoung of missing records is: , 0)
5       (The amoung of missing records is: , 0)
6       (The amoung of missing records is: , 0)
7       (The amoung of missing records is: , 0)
8       (The amoung of missing records is: , 0)
9       (The amoung of missing records is: , 0)
10      (The amoung of missing records is: , 0)
11      (The amoung of missing records is: , 0)
12      (The amoung of missing records is: , 0)
13      (The amoung of missing records is: , 0)
14      (The amoung of missing records is: , 0)
15      (The amoung of missing records is: , 0)
16      (The amoung of missing records is: , 0)
17      (The amoung of missing records is: , 0)
18      (The amoung of missing records is: , 0)
19      (The amoung of missing records is: , 0)
20      (The amoung of missing records is: , 0)
21      (The amoung of missing records is: , 0)
22      (The amoung of missing records is: , 0)
23      (The amoung of missing records is: , 0)
24      (The amoung of missing records is: , 0)
25      (The amoung of missing records is: , 0)
26      (The amoung of missing records is: , 0)
27      (The amoung of missing records is: , 0)
28      (The amoung of missing records is: , 0)
29      (The amoung of missing records is: , 0)
                         ...
2718    (The amoung of missing records is: , 0)
2719    (The amoung of missing records is: , 0)
2720    (The amoung of missing records is: , 0)
2721    (The amoung of missing records is: , 0)
2722    (The amoung of missing records is: , 0)
2723    (The amoung of missing records is: , 0)
2724    (The amoung of missing records is: , 0)
2725    (The amoung of missing records is: , 0)
2726    (The amoung of missing records is: , 0)
2727    (The amoung of missing records is: , 0)
2728    (The amoung of missing records is: , 0)
2729    (The amoung of missing records is: , 0)
2730    (The amoung of missing records is: , 0)
2731    (The amoung of missing records is: , 0)
2732    (The amoung of missing records is: , 0)
2733    (The amoung of missing records is: , 0)
2734    (The amoung of missing records is: , 0)
2735    (The amoung of missing records is: , 0)
2736    (The amoung of missing records is: , 0)
2737    (The amoung of missing records is: , 0)
2738    (The amoung of missing records is: , 0)
2739    (The amoung of missing records is: , 0)
2740    (The amoung of missing records is: , 0)
2741    (The amoung of missing records is: , 0)
2742    (The amoung of missing records is: , 0)
2743    (The amoung of missing records is: , 0)
2744    (The amoung of missing records is: , 0)
2745    (The amoung of missing records is: , 0)
2746    (The amoung of missing records is: , 0)
2747    (The amoung of missing records is: , 0)
Length: 2748, dtype: object

In [57]:
#Define dummy series and print it to see
dummy_series1 = pd.Series(["dummy record", "dummy record"], index=["Sentence", "Source"])
dummy_series1

Sentence    dummy record
Source      dummy record
dtype: object

In [58]:
#Then we add the new row of data which contains missing value
result_with_series = total1.append(dummy_series1, ignore_index=True)

In [59]:
#And then print its length to see if the missing value of data has been added or not
#The length of data become 2749 from original of 2748 before adding the missing value
len(result_with_series)

2749

# <span style = color:red><font size:300%> </span>

In [60]:
#Re-check by using the same code to see if it detect the missing value
#by using the function check, it does not show  the missing value 
result_with_series.reindex()
result_with_series.isnull().apply(lambda x: dmh.check_missing_values(result_with_series))

Sentence    (The amoung of missing records is: , 0)
Score       (The amoung of missing records is: , 0)
Source      (The amoung of missing records is: , 0)
dtype: object

In [ ]:
#Then use the function to drop the row eith missing value and then check the amount of row again
result_with_series.dropna(inplace=True)
result_with_series.isnull().apply(lambda x: dmh.check_missing_values(result_with_series))

#The amount of len change from 2749 >> 2748>> indicating that the missing value has been droped
len(result_with_series)

In [ ]:
# dummy record as dictionary format
dummy_dict = [{'text': 'dummy_record',
               'category': }]

In [ ]:
total1 = total1.append(dummy_dict, ignore_index=True)
len(total1)

In [ ]:
total1.isnull().apply(lambda x: dmh.check_missing_values(x))

In [ ]:
total1.dropna(inplace=True)
len(total1)

# <span style = color:red><font size:300%>  </span>

## 4.3 Data Duplication checking
To verify that there is no duplication in the dataset

In [ ]:
#Checking on the data duplication
total1.duplicated()

#Then print the number of duplication row
len(total1[ total1.duplicated(['Sentence'], keep = False)])

In [ ]:
#Then the amount of duplication = # of duplication/2 = 17 
sum(total1.duplicated())

In [ ]:
#Then we print all of the duplicated data to see
print(total1[ total1.duplicated(['Sentence'], keep = False)])

In [ ]:
#We only drop the duplicate row of the dataset
#Syntax to drop only duplicate data: df.drop_duplicates
#Syntax to drop all duplicated data (including its original): df.drop_duplicates(keep=False, inplace=True)

#All duplication rows = 34
#droped rows = 17
#Then the remaining rows = 2731

total1.drop_duplicates(inplace=True)
len(total1)

# 5. Data Preprocessing
The data preprocessing in this notebook will cover the following topics shown below;
- Aggregation
- Sampling
- Dimensionality Reduction
- Feature Subset Selection
- Feature Creation
- Discretization and Binarization
- Attribute Transformation

## 5.1 Sampling

In [ ]:
#random state
total1_sample = total1.sample(n=1000)
len(total1_sample)

In [ ]:
total1_sample[0:5]

In [ ]:
categories

In [ ]:
print(total1.category_name.value_counts())

# plot barchart for total1_sample
total1.category_name.value_counts().plot(kind = 'bar',
                                    title = 'Category distribution',
                                    ylim = [0, 650],        
                                    rot = 0, fontsize = 11, figsize = (8,3))

In [ ]:
print(total1_sample.category_name.value_counts())

# plot barchart for X_sample
total1_sample.category_name.value_counts().plot(kind = 'bar',
                                           title = 'Category distribution',
                                           ylim = [0, 300], 
                                           rot = 0, fontsize = 12, figsize = (8,3))

## 4.2 Feature Creation
* Feature creation is to create new interesting and useful features from the original dataset  
* Creating features from text file
* Also b able to call *'feature enginerring'*

  
  
**Feature Creation Processing**
* obtain *cumigram* for each text (referring to 'Tokens'/ 'Individual words')
* Obtains statistics from *word frequency/ word distribution*

In [ ]:
#Processing
total1['unigrams'] = total1['text'].apply(lambda x: dmh.tokenize_text(x))

In [ ]:
#Print the unigram version to see how the data change
total1[0:5]["unigrams"]

In [ ]:
#Then print the original version to compare
total1[0:5]

In [ ]:
list(total1[0:1]['unigrams'])

## 4.3  Feature subset selection
Working on subset selection and the sample shown below;
![alt txt](https://docs.google.com/drawings/d/e/2PACX-1vS01RrtPHS3r1Lf8UjX4POgDol-lVF4JAbjXM3SAOU-dOe-MqUdaEMWwJEPk9TtiUvcoSqTeE--lNep/pub?w=748&h=366)  

Transforming the articles into **a term-document matrix** -- using analyzer (or sometimes called defalt tokenizer)  
It will produce *words frequency vector*  
***CountVectorizer*** is the default analyzer

In [ ]:
#from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
total1_counts = count_vect.fit_transform(total1.text)

In [ ]:
analyze = count_vect.build_analyzer()
analyze("Hello World!")
#" ".join(list(X[4:5].text))

In [ ]:
#Checking the shape of the matrix
total1_counts.shape

In [ ]:
#Then obtain the feature names of the vectorizer --usually on the horizontal axis
count_vect.get_feature_names()[0:10]

In [ ]:
total1[0:5]

In [ ]:
# we convert from sparse array to normal array
total1_counts[0:5, 0:100].toarray()

# QN 10.